.body {
    background-image: linear-gradient(to right, #4a88d0 , #6b63bc);
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Horizontally center the card */
    align-items: center; /* Vertically center the card */
    margin: 0; /* Remove default margin */
}

.card {
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 400px; /* 40% of the screen width */
    height: 500px; /* 60% of the screen height */
    background-color: #fff; /* White background for the card */
    padding: 20px; /* Add some padding */
}

h1 {
    text-align: center; /* Center the title */
    color: #333; /* Darker color for title */
}

.errorMessage {
    color: red; /* Red color for error messages */
    font-size: 0.9em; /* Slightly smaller font for error messages */
    margin-top: 5px; /* Space above error message */
}

.ant-input, .ant-input-password {
    border-radius: 5px; /* Rounded corners for inputs */
    margin-bottom: 25px; /* Same margin below input fields */
    padding: 10px; /* Padding inside input fields */
    height: 50px; /* Ensure both inputs have the same height */
    width: 100%; /* Ensure both inputs take up full width */
    box-sizing: border-box; /* Include padding and border in element's width and height */
}


.btn {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding for button */
    height: 60px;
    background-image: linear-gradient(to right, #4a88d0 , #6b63bc);
    top: 60px;
    border: none; /* No border */
}

.btn:hover {
    background-color: #40a9ff; /* Slightly darker on hover */
}

.btn:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.5); /* Focus shadow */
}

